.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #3087dda1;
}

.logo {
    font-weight: 600;
    font-size: 1.2rem;
}

.spacer {
    flex: 1 1 auto;
}

.logoHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

img {
    width: 200px;
    height: auto;
    width: 10%;
    margin-left: 0.5em;
}