<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #drawer
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Menú</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item mat-list-item [routerLink]="['/solicitudes']" routerLinkActive="active-link">
        <div class="container-options">
          <mat-icon>assignment</mat-icon>
          <span>Solicitudes</span>
        </div>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/login">
        <div class="container-options">
          <mat-icon>settings</mat-icon>
          <span>Logout</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }

      <span>Gestión de Solicitudes</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
